.forumColor {
  background-color: $bgcolorforum;
  color: $white;
  border-right: 1px solid #ffffff;
  a:link {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: $red;
  }
}

.path-forum {
  .field--type-comment {
    margin: 24px 0;
  }
}

.path-forum {
  .block-system-main-block {
    .btn-secondary {
      border: 0;
    }
  }
}

details {
  border: 1px solid #dee2e6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.node--type-forum {
  .field--name-user-picture {
    float: right;
    margin-left: 21px;
    margin-bottom: 21px;
  }
}

.path-forum {
  table {
    width: 100%;
  }
  th, td,
  td.forum-list__forum {
    padding: 12px 12px;
  }
  .odd {
    background-color: $bgcolortd;
  }
  th {
    background-color: $bgcolorth;
  }
}
