
.header {
  .section-topheader {
    background-color: $topheader;
    font-size: $font-size-topheader;
  }
  .section-mainnavigation {
    background-color: rgba(216, 216, 216, 0.85);
  }
}

.bg-secondary {
  background-color: $gray-secondary;
  font-size: $font-size-secondary;
  a:link {
    border: 0;
  }
}
.navbar {
  padding: 0;
}
.bg-primary {
  background-color: transparent !important;
}
