// USER
.user-logged-in {
    .field--name-username,
    .field--name-usermail,
    .field--name-field-adviesraad,
    .field--name-field-name-first,
    .field--name-field-name-last,
    .field--name-field-bio,
    .field--name-message-subscribe-email,
    .field--name-field-sparring,
    .field--name-field-adviesraad {
        padding: 8px 0;
        .field__label {
            font-weight: bold;
        }
    }
    
    .field--name-field-name-first {
        float: left;
        margin-right: 6px;
      }
}


.page-user-register {
  
}