
.region-forum {
  background-color: $bgforum;
  color: #ffffff;
  a:link {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: $white;
  }
  .block-views-blockoverzicht-forum-block-1 {
    position: relative;
  }
  .block-submenu {
    background-color: red;
    position: absolute;
    top: 3px;
    right: 18px;
    h2 {
      display: none;
    }
    a:before {
      @include white-link-arrow;
    }
  }
}

.region-thema {
  .view-thema {
    .views-row {
      padding: 0 24px;
    }
    .view-footer {
      a {
        padding-left: 34px;
      }
    }
  }
}
.highlighted {
  background-color: $bghighlited;
}
.section-content {
  .main-content {
    background-color: #ffffff;
  }
}
.section-news {
  background-color: $bgnews;
  .main-content {
    background-color: #ffffff;
  }
  .more-link {
    border-top: 1px solid $gray-400;
    padding: 14px 0;
  }
  .more-link a:before {
    @include blue-link-arrow;
  }
}
.section-thema {
  background-color: $bgthemacolor;
}
.region-thema {
  .views-field-name {
    font-size: $bodysize !important;
  }
  h2 {
    column-span: all;
  }
  .view-overzicht-thema-s {
    .view-content {
      column-count: 3;
      column-gap: 30px;
      column-rule-style: hidden;
      column-rule-width: 0;
      column-rule-color: $dividercolor;
      column-width: $column-width;
      display: inline-block;
      margin: 2px 12px;
    }
  }
}

.view-thema,
.view-overzicht-thema-s {
  a:link {
    color: $mainmenulink;
  }
  a:visited {
    color: $mainmenuvisited;
  }
  a:hover {
    color: $mainmenuhover;
  }
  .more-link {
    border-top: 1px solid $gray-400;
    padding: 14px 0;
    a:link {
      color: $red;
    }
    a:visited {
      color: $red;
    }
  }
  .more-link a:before {
    @include blue-link-arrow;
  }
}

.region-news,
.region-agenda,
.region-thema {
  h2 {
    background-color: #ffffff;
  }
}

.path-frontpage {
  .region-news-onhome {
    background-color: #eaeaea;
    .more-link {
      margin-left: 15px;
    }
  }
  .view-agenda {
    .views-row {
      background-color: #eaeaea;
    }
    .views-field-field-datum-end-date-1 {
      float: left;
    }
    .views-field-field-datum-end-date {
      float: left;
    }
    .views-field-title {
      margin: 6px 0;
    }
    .views-field-view-node {
      padding: 12px 0;
      .field-content a:before {
        @include blue-link-arrow;
      }
    }
    .more-link {
      a:before {
        @include blue-link-arrow;
      }
    }
    .views-field-field-datum-end-date-2 {
      font-family: $headerfont;
      font-size: $font-size-h3;
      color: $blue;
      text-align: left;
      line-height: 31px;
      margin: 0 0 6px 0;
    }
  }
}
.path-frontpage {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .field--name-field-image {
    img {
      width:100%;
      height:auto;
    }
  }
}

.region-homepage-slider {
  img {
    width: 100%;
    height: auto;
  }
}
.section-blog {
  .region-blog {
    h2 {
    }
    h2:before {
      @include white-header-arrow;
    }
  }
  a:link {
    color: $white;
  }
  a:visited {
    color: $white;
  }
  a:hover {
    color: $red;
  }
  .more-link {
    border-top: 1px solid $white;
    padding: 14px 0;
  }
  .more-link a:before {
    @include white-link-arrow;
  }
  .view-blog {
    .views-row {
      background-color: transparent;
      .left {
        text-align: center;
      }
      .right {
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $white;
      }
    }
    .read-more {
      padding: 12px 0;
      & a:before {
        @include white-link-arrow;
      }
    }
  }
}


@include media-breakpoint-up(xs) {
  .empty_title {
    height: 4px;
  
  }
}
@include media-breakpoint-up(lg) {
  .empty_title {
    height: 37px;
  }
}