/* MIXINS */

@mixin screen-reader-text {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@mixin font-smoothing($value: antialiased){
  @if $value == antialiased{
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smoothing: antialiased;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
//Input autofill mixin to overwrite banana yellow color
@mixin autofill($background, $color) {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        background-color: $background !important;
        -webkit-box-shadow: 0 0 0 999px $background inset !important;
        -webkit-text-fill-color: $color !important;
    }

    &:-moz-autofill,
    &:-moz-autofill:hover,
    &:-moz-autofill:focus,
    &:-moz-autofill:active {
        background-color: $background !important;
        -webkit-box-shadow: 0 0 0 999px $background inset !important;
        -webkit-text-fill-color: $color !important;
    }

    &:-o-autofill,
    &:-o-autofill:hover,
    &:-o-autofill:focus,
    &:-o-autofill:active {
        background-color: $background !important;
        -webkit-box-shadow: 0 0 0 999px $background inset !important;
        -webkit-text-fill-color: $color !important;
    }

    &:-khtml-autofill,
    &:-khtml-autofill:hover,
    &:-khtml-autofill:focus,
    &:-khtml-autofill:active {
        background-color: $background !important;
        -webkit-box-shadow: 0 0 0 999px $background inset !important;
        -webkit-text-fill-color: $color !important;
    }
}
