
.path-frontpage {
  .views-field-field-image {
    margin-bottom: 21px;
  }
}
.path-node {
  .views-field-field-image {
    margin-bottom: 21px;
  }
}

.node--type-news {
  .field--type-image img,
  .field--name-field-user-picture img {
    margin: 0;
  }
}


@include media-breakpoint-up(xs) {
  .field--name-field-image {
  }
}

@include media-breakpoint-up(sm) {
  .field--name-field-image {
    float: right;
  }
}

@include media-breakpoint-up(md) {
  .field--name-field-image{
    float: right;
    margin: 0 48px 0 21px;
  }
}
@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}
