/* TYPOGRAPHY */

// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Poppins', sans-serif;
$font-family:        $font-family-sans-serif;
$font-family-base:   $font-family-sans-serif;
$font-size-base:     1rem; // Assumes the browser default, typically `16px`
$font-size-lg:       1.25rem;
$font-size-sm:       .875rem;
$font-size-xs:       .75rem;

$font-weight-normal:  300;
$font-weight-bold:    500;

$font-weight-base:    $font-weight-normal;
$line-height-base:    1.5;
$font-size-secondary: 0.75rem;


@mixin page-link{
  color: $color-link;
  text-decoration: underline;
  font-weight: $font-weight-normal;
  cursor:pointer;
  &:active, &:focus{
    color: $color-link;
    text-decoration: none;
  }
  @include media-breakpoint-up(md) {
    &:hover{
      color: $color-link;
      text-decoration: none;
    }
  }
}
a, a:not([href]):not([tabindex]){
  @include page-link;
}

.heading {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  color: $color-text;
  margin: 0;
}
h1, .h1 {
  font-size: 32px;
  line-height: 36px;
  @include media-breakpoint-up(lg) {
    font-size: 48px;
    line-height: 54px;
  }
}
h2, .h2 {
  font-size: 26px;
  line-height: 29px;
  @include media-breakpoint-up(lg) {
    font-size: 37px;
    line-height: 41px;
  }
}
h3, .h3 {
  font-size: 21px;
  line-height: 24px;
  @include media-breakpoint-up(lg) {
    font-size: 26px;
    line-height: 29px;
  }
}
h4, .h4 {
  font-size: 16px;
  line-height: 18px;
  @include media-breakpoint-up(lg) {
    font-size: 20px;
    line-height: 23px;
  }
}
h5, .h5 {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
}

p, .text-small {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  color: $color-text;
  margin: 0;
  font-size: 14px;
  line-height: 24px;

  &.bold, strong, b {
    font-weight: $font-weight-bold;
  }
}
.error-message {
  color: $brand-danger;
}
