/* TYPOGRAPHY */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

//== Fonts
$headerfont : 'Poppins', sans-serif;
$basefont :   'Poppins', sans-serif;
$bodysize :   16px;

$fullwidthmargin: 48px;
$bottommargin: 24px;

// Font, line-height, and color for body text, headings, and more.

$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;

$font-family-monospace: Menlo, Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;

$font-family-base: $font-family-sans-serif;
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;

$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$font-size-secondary: 0.75rem;
$font-size-h1: 2.2em;
$font-size-h2: 24px;
$font-size-h3: 21px;
$font-size-h4: 18px;
$font-size-h5: 16px;
$font-size-h6: 16px;

h1, h2, h3, h4, h5, h6 {
  font-family: $headerfont;
}
h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}

.field__label {
  font-family: $headerfont;
  font-size: $font-size-h2;
}
.path-node,
.path-user {
  .field__label {
    font-family: $basefont;
    font-size: $bodysize;
  }
}
