/* VARIABLES */


//Brand colors
$color-pink         : #CB0767; // for use with white
$color-pink2        : #FF0066; // for use with black
$dark-gray          : #1D1D1B;
$white              : #ffffff;

//Interface colors / Gray tones
$color-gray         : #333333;
$color-gray-light   : #CFCBC3;
$color-white        : #FFFFFF;
$bgfooter           : $dark-gray;
$h2colorfooter      : $white;
$bodycolorfooter    : $white;

//Additional / Functional colors
$color-green        : #73BD07;
$color-orange       : #FF7921;
$color-red          : #FD3535;
$color-blue         : blue;

$color-text       : $color-gray;
$color-link       : $color-pink;
$color-border     : $color-gray-light;
$color-placeholder: $color-gray-light;
$color-bg         : rgba($color-gray-light, 0.5);


$primary-shade:     rgba($color-gray-light, 0.5);
$primary-light:     $color-pink;
$primary-dark:      $color-pink;

$accent-shade:      $color-pink;
$accent-light:      $color-pink;
$accent-dark:       $color-pink;


$gray-100: $color-gray-light;
$gray-200: $color-gray-light;
$gray-300: $color-gray-light;
$gray-400: $color-gray;
$gray-500: $color-gray;
$gray-600: $color-gray;
$gray-700: $color-gray;
$gray-800: $color-gray;
$gray-900: $color-gray;


$theme-colors: ( 
    primary: $primary-shade, 
    secondary: $accent-shade, 
    success: $color-green, 
    info: $color-blue, 
    warning: $color-orange, 
    danger: $color-red, 
    light: $gray-100, 
    dark: $gray-800
);


$brand-info: $color-blue;
$brand-success: $color-green;
$brand-warning: $color-orange;
$brand-danger: $color-red;
$brand-primary: $color-pink;
$brand-primary-dark: $color-pink;

// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

//Borders
$border-radius: 10px;
$border-radius-large: 20px;
$border-radius-small: 4px;
$box-shadow: 0 2px 5px 0 rgba($color-gray, 0.40);
$box-shadow-dark: 0 2px 10px 0 rgba($gray-800, 0.10);

//Form elements
$input-height: 40px;

/* Animations */
$ease-out: cubic-bezier(.36,.03,.28,.99);
$ease-in: cubic-bezier(.46,.09,.82,.73);
$ease-back-end: cubic-bezier(.35,.01,.44,1.75);
$ease-back-start: cubic-bezier(1.54,.66,-0.08,.49);

$transition-out: 0.5s cubic-bezier(.36,.03,.28,.99);
$transition-out-slow: 1s cubic-bezier(.36,.03,.28,.99);
$transition-out-fast: 0.15s cubic-bezier(.36,.03,.28,.99);

$transition-in: 0.5s cubic-bezier(.46,.09,.82,.73);
$transition-in-slow: cubic-bezier(.46,.09,.82,.73);
$transition-in-fast: 0.15s cubic-bezier(.46,.09,.82,.73);

$transition: all $transition-out;
$transition-all-out: all $transition-out;
$transition-all-in: all $transition-in;