
.view-temp-users,
.view-taxonomy-term,
.view-bijeenkomsten,
.view-trainingen,
.view-artikelen {
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.view-temp-users {
  li {
    border-bottom: 2px solid $rowbottomlinecolor;
    margin: 0 0 12px 0;
    padding: 4px 0;
  }
  .views-label {
    display: inline;
    float: left;
    padding: 0px 5px 0 0;
  }
  .views-field-field-adviesraad {
    display: flex;
  }
}


.view-taxonomy-term {
  .views-row {
    border-bottom: 2px solid $rowbottomlinecolor;
    margin: 0 0 12px 0;
    padding: 4px 0;
  }
}

.view-ladekast {
   .views-row {
     background-color: $white;
     width: 100%;
     margin: 0 0 12px 0;
   }
 }

.view-overzicht-thema-s {
  .views-row {
    width: 100%;
    margin: 0 0 2px 0;
    background-color: $white;
  }
}

.view-thema {
  .views-row {
    width: 100%;
  }
}

.path-frontpage {
  .view-agenda {
    .more-link {
      margin-left:15px;
      border-top: 0px;
    } 
  }
  .view-nieuws {
    .more-link {
      a:before {
        @include blue-link-arrow;
      }
    }
  }
}
.view-nieuws {
  .read-more {
    a:before {
      @include blue-link-arrow;
    }
  }
}

.view-nieuwsbrieven {
  .views-row {
    background-color: $white;
    .field-content img {
      padding-bottom: 12px;
      border-bottom: 1px solid $bordercolorbottom;
    }
  }
 }

.path-blog {
  .view-blog {
    .view-content {
      margin-bottom: 24px;
    }
    .right {
      border-bottom: 1px solid $divider;
    }
    .read-more {
      padding: 6px 0;
      a:before {
        @include blue-link-arrow;
      }
    }
  }
}

.view-artikelen {
  .view-header {
    margin: 12px -15px;
  }
  .row {
    padding: 6px 0;
  }
}
.view-bijeenkomsten,
.view-trainingen {
  .views-row {
      padding: 12px 0;
      border-bottom: 1px solid $viewrowbottom;
      .dateDay {
          display: inline-block;
      }
  }
  .views-field-view-node {
      a:before {
        @include blue-link-arrow;
      }
    }
}

.view-taxonomy-term {
  .view-header {
    border-bottom: 1px solid #DFDFDF;
    padding: 12px 0;
    margin-bottom: 21px;
  }
  .result {
    padding: 12px 0;
    font-size: 0.85em;
  }
}

